@page "/"
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using GestionWebAPP.Components.Pages.HomeComponents
@using GestionWebAPP.Components.Layout
@using static GestionWebAPP.Components.Pages.HomeComponents.TransactionList
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IJSRuntime JSRuntime  
<link href="style/dashboard.css" rel="stylesheet" />

@if (isUserAuthenticated)
{
    <h2>Tableau de bord</h2>
    <div class="dashboard p-4">
        <div class="cards-container">
            <BalanceCard Amount="3420" Variation="+5%" />
            <IncomeCard Amount="2700" Sources="3" Average="2600" />
            <ExpenseCard Amount="3200" MainCategory="Loisirs" />
        </div>

        <div class="grid-two">
            <ExpensesChart Title="📊 Répartition des dépenses" />
            <TransactionList Transactions="@transactions"/>
        </div>
        <div class="row align-items-center mb-4">
            <div class="col-md-6"><SavingGoal Goal="Vacances été" AmountSaved="300 €" GoalAmount="1 000 €" Progress="30" /></div>
            <div class="col-md-6"><DashboardActions /></div>
        </div>
    </div>

}
else
{
    <!-- Afficher un message ou rediriger -->
    <p>Redirection vers la page de connexion...</p>
}

@code {
    private bool isUserAuthenticated;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("console.log", "vérification de l'état de l'authentification...");

            var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authenticationState.User;
            var obpToken = await LocalStorage.GetItemAsync<string>("obpToken");
            isUserAuthenticated = user.Identity.IsAuthenticated || !string.IsNullOrEmpty(obpToken);
            
            await JSRuntime.InvokeVoidAsync("console.log", $"L'utilisateur est authentifié ? {user.Identity.IsAuthenticated}");
            await JSRuntime.InvokeVoidAsync("console.log", $"TOKEN OBP detecté : {obpToken != null}");

           
            
            if (!isUserAuthenticated)
            {
                await JSRuntime.InvokeVoidAsync("console.log", "Utilisateur non authentifié, redirection vers /login");
                Navigation.NavigateTo("/login");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("console.log", "Utilisateur authentifié, affichage de la page d'accueil");
            }
            
            StateHasChanged();
        }
    }
}

@code {
    private List<Transaction> transactions = new()
    {
        new Transaction("13/04/2025", "Restaurant", 50),
        new Transaction("12/04/2025", "Shopping", -100)
    };

    public record Transaction(string Date, string Label, decimal Amount);
}
