@page "/"
@using GestionWebAPP.Services
@using Common.Requests
@using Blazorise
@using System.ComponentModel.DataAnnotations
@using Blazorise.Extensions

<Div Margin="Margin.IsAuto.OnX" Width="Width.Is50">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Center">
        Sign in to your account
    </Heading>

    <Card Shadow="Shadow.Default">
        <CardBody>
            <!-- Utilisation d'EditForm pour la validation -->
            <EditForm Model="_loginModel" OnValidSubmit="OnSubmit" >
                
                <!-- Validation des annotations de données -->
                <DataAnnotationsValidator />
                <Blazorise.ValidationSummary />

                <Field>
                    <FieldLabel>
                        Email
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Value="_loginModel.Email" Placeholder="name@blazorise.com" Role="@TextRole.Email" />
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel>
                        Password
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Value="_loginModel.Password" Placeholder="********" Role="@TextRole.Password" autocomplete="new-password" />
                    </FieldBody>
                </Field>

                <Field Flex="Flex.Wrap.JustifyContent.Between">
                    <Check @bind-Value="_loginModel.RememberMe" TValue="bool">
                        Remember me
                    </Check>
                    <Anchor To="#" TextColor="TextColor.Primary">
                        Forgot your password?
                    </Anchor>
                </Field>

                <Field>
                    <!-- Bouton de type Submit avec validation -->
                    <Button Color="Color.Primary" ButtonType="Submit" Clicked="OnSubmit" Block>
                        Sign in
                    </Button>
                </Field>

                <Field>
                    Don’t have an account yet? <Anchor To="/register" TextColor="TextColor.Primary">Sign up</Anchor>
                </Field>
            </EditForm>
        </CardBody>
    </Card>
</Div>

@code {
    private readonly LoginModel _loginModel = new LoginModel();

    [Inject] private AuthService AuthService { get; set; }
    [Inject] private NavigationManager Navigation { get; set; }

    public async Task OnSubmit()
    {
        Console.WriteLine("Attempting login for: " + _loginModel.Email);

        var loginRequest = new LoginRequest
        {
            Email = _loginModel.Email,
            Password = _loginModel.Password
        };

        var isSuccess = await AuthService.Login(loginRequest);

        if (isSuccess)
        {
            Navigation.NavigateTo("/home");
        }
        else
        {
            Console.WriteLine("Login failed");
            Navigation.NavigateTo("/home");
        }
    }

    public class LoginModel
    {
        [Required(ErrorMessage = "Email is required")]
        [EmailAddress(ErrorMessage = "Invalid email address")]
        public string Email { get; set; } = "";

        [Required(ErrorMessage = "Password is required")]
        public string Password { get; set; } = "";

        public bool RememberMe { get; set; } = false;
    }
}
