@page "/register"


<Div Margin="Margin.IsAuto.OnX" Width="Width.Is50">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Center">
        Create an account
    </Heading>

    <Card Shadow="Shadow.Default">
        <CardBody>
            <Form>
                <Field>
                    <FieldLabel>
                        Your Email
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit Placeholder="name@blazorise.com" Role="TextRole.Email" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>
                        Password
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit Placeholder="********" Role="TextRole.Password" autocomplete="new-password" />
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>
                        Confirm Password
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit Placeholder="********" Role="TextRole.Password" autocomplete="new-password" />
                    </FieldBody>
                </Field>
                <Field Flex="Flex.JustifyContent.Between">
                    <Check TValue="bool">
                        I accept the <Anchor To="#" TextColor="TextColor.Primary">Terms and Conditions</Anchor>
                    </Check>
                </Field>
                <Field>
                    <Button Color="Color.Primary" Block>
                        Create an account
                    </Button>
                </Field>
                <Field>
                    Already have an account? <Anchor To="/login" TextColor="TextColor.Primary">Login here</Anchor>
                </Field>
            </Form>
        </CardBody>
    </Card>
</Div>