<div class="card blue">
    <h4>💼 Solde actuel</h4>
    <p class="amount">@Amount.ToString("C")</p>
    @if (IsObpUser)
    {
    <p class="muted"> Solde à jour OBP</p>
    }
    else
    {
    <p class="muted">+@Variation par rapport au mois précédent</p>
    }
</div>

@code {
    [Parameter] public decimal Amount { get; set; }
    [Parameter] public string Variation { get; set; } = "";
    [Parameter] public bool IsObpUser { get; set; }
}
