@if (IsObpUser)
{
    <div class="card-dash p-4 chart-card" style=" width: 100% !important;
                                            max-width: 400px;
                                            height: auto !important;
                                            margin: 0 auto;
                                            display: block;">
        <h5 class="mb-3">@Title</h5>
        <Chart Config="_config1" @ref="_chart1"></Chart>
    </div>
}

@code {
    [Parameter] public string Title { get; set; } = " 📊 Répartition des dépenses OBP";
    [Parameter] public bool IsObpUser { get; set; } 
    [Parameter] public List<string> Labels { get; set; } = new(); 
    [Parameter] public List<decimal?> Values { get; set; } = new(); 

    private PieChartConfig _config1;
    private Chart _chart1;

    protected override async Task OnInitializedAsync()
    {
        _config1 = new PieChartConfig();

        if (IsObpUser)
        {
            _config1.Data.Labels = Labels;
            _config1.Data.Datasets.Add(new PieDataset()
            {
                Label = "Dépenses OBP",
                Data = Values,
                BackgroundColor = new List<string> { "#FF6384", "#36A2EB", "#FFCE56", "#4BC0C0" },
                HoverOffset = 4
            });
        }
    }
}