@inject HttpClient Http
@inject IJSRuntime JS

<div class="text-end">
    <button class="btn btn-primary me-2">➕ Ajouter une transaction</button>
    <button class="btn btn-outline-secondary" @onclick="DownloadReport">📈 Voir rapports</button>
</div>

@code {
    private async Task DownloadReport()
    {
        var start = new DateTime(2025, 4, 12);
        var end = new DateTime(2025, 5, 13);
        

        var url = $"/api/transactions/getTransactions?start={start:O}&end={end:O}";

        var response = await Http.GetAsync(url);
        if (response.IsSuccessStatusCode)
        {
            var pdfBytes = await response.Content.ReadAsByteArrayAsync();
            var base64 = Convert.ToBase64String(pdfBytes);
            var fileName = $"transactions_{start:yyyyMMdd}_{end:yyyyMMdd}.pdf";
            await JS.InvokeVoidAsync("downloadFileFromBase64", base64, fileName);
        }
        else
        {
            Console.WriteLine("Erreur de téléchargement du fichier PDF.");
        }
    }
}