@using Common.DTO
<div class="card">
    <h4>🧾 Dernières transactions</h4>
    @foreach (var tx in Transactions)
    {
        <p>@tx.CompletedDate.ToString("dd/MM/yyyy") – @tx.Description 
           <span class="@GetAmountCssClass(tx.Amount)">
               @tx.Amount.ToString("C")
           </span>
        </p>
    }

</div>
<style>
    .text-danger {
        color: red;
    }
    
    .text-success {
        color: green;
    }

</style>
@code {
    [Parameter] public List<TransactionDto> Transactions { get; set; } = [];
    private string GetAmountCssClass(decimal amount)
    {
        return amount < 0 ? "text-danger" : "text-success";
    }
}
